<?xml version="1.0" encoding="utf-8" ?>
<!--<settings>
  <add key="server"   value="DESKTOP-8BHHHR7\SQLSERVER" />
  <add key="database" value="GNTL" />
  <add key="userid"   value="sa" /> 
  <add key="password" value="123456" />
</settings>-->

<!--<settings>
  <add key="server"   value="RI-TONGHOP-01\SQLEXPRESS" />
  <add key="database" value="LICHHOPTUAN" />
  <add key="userid"   value="sa" />
  <add key="password" value="123456" />
</settings>-->

<settings>
  <add key="server"   value="192.168.20.60" />
  <add key="database" value="LICHHOPTUAN" />
  <add key="userid"   value="sa" />
  <add key="password" value="P@ssw0rd" />
</settings>