<?xml version="1.0" encoding="utf-8" ?>
<providers xmlns="http://ibatis.apache.org/providers">
  <clear/>
  
  <provider
		name="PostgreSql0.7"
		description="PostgreSql, Npgsql provider V3.0.3.0"
		enabled="true"
		assemblyName="Npgsql, Version=3.0.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"
		connectionClass="Npgsql.NpgsqlConnection"
		commandClass="Npgsql.NpgsqlCommand"
		parameterClass="Npgsql.NpgsqlParameter"
		parameterDbTypeClass="NpgsqlTypes.NpgsqlDbType"
		parameterDbTypeProperty="NpgsqlDbType"
		dataAdapterClass="Npgsql.NpgsqlDataAdapter"
		commandBuilderClass="Npgsql.NpgsqlCommandBuilder"
		usePositionalParameters = "false"
		useParameterPrefixInSql = "true"
		useParameterPrefixInParameter = "true"
		parameterPrefix=":"
	/>

<provider
		name="sqlServer1.0"
		description="Microsoft SQL Server 7.0/2000, provider V1.0.3300.0 in framework .NET V1.0"
		enabled="false"
		assemblyName="System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		connectionClass="System.Data.SqlClient.SqlConnection"
		commandClass="System.Data.SqlClient.SqlCommand"
		parameterClass="System.Data.SqlClient.SqlParameter"
		parameterDbTypeClass="System.Data.SqlDbType"
		parameterDbTypeProperty="SqlDbType"
		dataAdapterClass="System.Data.SqlClient.SqlDataAdapter"
		commandBuilderClass="System.Data.SqlClient.SqlCommandBuilder"
		usePositionalParameters = "false"
		useParameterPrefixInSql = "true"
		useParameterPrefixInParameter = "true"
		parameterPrefix="@"
		/>

  <provider
		name="sqlServer1.2"
		description="Microsoft SQL Server 7.0/2000, provider V1.0.5000.0 in framework .NET V1.1"
		default="false"
		assemblyName="System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		connectionClass="System.Data.SqlClient.SqlConnection"
		commandClass="System.Data.SqlClient.SqlCommand"
		parameterClass="System.Data.SqlClient.SqlParameter"
		parameterDbTypeClass="System.Data.SqlDbType"
		parameterDbTypeProperty="SqlDbType"
		dataAdapterClass="System.Data.SqlClient.SqlDataAdapter"
		commandBuilderClass="System.Data.SqlClient.SqlCommandBuilder"
		usePositionalParameters = "false"
		useParameterPrefixInSql = "true"
		useParameterPrefixInParameter = "true"
		parameterPrefix="@"
	/>
  
  
<provider
  name="sqlServer1.1"
  description="Microsoft SQL Server 7.0/2012, provider V11.2.5058.0 in framework .NET V1.1"
  default="true"
  assemblyName="System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
  connectionClass="System.Data.SqlClient.SqlConnection"
  commandClass="System.Data.SqlClient.SqlCommand"
  parameterClass="System.Data.SqlClient.SqlParameter"
  parameterDbTypeClass="System.Data.SqlDbType"
  parameterDbTypeProperty="SqlDbType"
  dataAdapterClass="System.Data.SqlClient.SqlDataAdapter"
  commandBuilderClass="System.Data.SqlClient.SqlCommandBuilder"
  usePositionalParameters = "false"
  useParameterPrefixInSql = "true"
  useParameterPrefixInParameter = "true"
  parameterPrefix="@"
	/>
  
<provider
  name="sqlServer2.0"
  enabled="true"
  assemblyName="System.Data, Version=2.0.50215.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
  connectionClass="System.Data.SqlClient.SqlConnection"
  commandClass="System.Data.SqlClient.SqlCommand"
  parameterClass="System.Data.SqlClient.SqlParameter"
  parameterDbTypeClass="System.Data.SqlDbType"
  parameterDbTypeProperty="SqlDbType"
  dataAdapterClass="System.Data.SqlClient.SqlDataAdapter"
  commandBuilderClass="System.Data.SqlClient.SqlCommandBuilder"
  usePositionalParameters = "false"
  useParameterPrefixInSql = "true"
  useParameterPrefixInParameter = "true"
  parameterPrefix="@"
	/>

</providers>

