<?xml version="1.0" encoding="utf-8" ?>
<!--<settings>
  <add key="server"   value="DESKTOP-8BHHHR7\SQLSERVER" />
  <add key="database" value="GNTL" />
  <add key="userid"   value="sa" /> 
  <add key="password" value="123456" />
</settings>-->

  <settings>
  <add key="server"   value="DESKTOP-IA83SJ9\SQLEXPRESS" />
  <add key="database" value="LICHHOPTUAN" />
  <add key="userid"   value="LichHopTuan" />
  <add key="password" value="123456" />
</settings>

<!--<settings>
  <add key="server"   value="10.84.0.31" />
  <add key="database" value="LICHHOPTUAN" />
  <add key="userid"   value="lichhoptuan" />
  <add key="password" value="Welcome@1" />
</settings>-->