
.col1 {
    text-align: center;
    width: 40px;
}

.col2 {
    text-align: center;
    width: 40px;
}

.col3 {
     width: 100%;
}

.col4 {
    text-align: center;
    width: 50px;
}

.col5 {
    width: 250px;
}

.col6 {
    text-align: center;
    width: 90px;
}
.col7 {
    text-align: center;
    width: 70px;
}
.col8 {
    text-align: center;
    width: 100px;
}
