
@{
    ViewBag.Title = "Lỗi Trang";
}
<style>
    .error_page {
        margin: 0;
        padding: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #666666;
        margin: auto;
    }

        .error_page h1 {
            margin: 20px 0 0;
        }

        .error_page p {
            margin: 10px 0;
            padding: 0;
        }

    a {
        color: #9caa6d;
        text-decoration: none;
    }

        a:hover {
            color: #9caa6d;
            text-decoration: underline;
        }
</style>

<div class="error_page">
    <img src="@Url.Content("~")Themes/RICONS-2015/images/face_sad.gif" alt="image" />
    <h1>Chúng tôi xin lỗi...</h1>
    <p>
        Trang web mà bạn đang vào hiện không được tìm thấy.
    </p>
    <p>
        <a href="@Url.Content("~")">Trở về trang chủ</a>
    </p>
</div>

