.col1 {
    text-align: center;
    width: 4%;
}

.col2 {
    text-align: center;
    width: 4%;
}

.col3 {
    text-align: left;
     width: 20%;
}

.col4 {
    text-align: center;
    
    width: 7%;
}

.col5 {
    text-align: center;
    width: 7%;
}

.col6 {
    text-align: center;
    width: 7%;
}

.col7 {
    text-align: center;
    width: 7%;
}


.col8 {
    text-align: center;
    width: 7%;
}


.col9 {
    text-align: left;
    width: 40%;
}

