.col1 {
    text-align: center;
    width: 5%;
}

.col2 {
    text-align: center;
    width: 5%;
}

.col3 {
    text-align: center;
     width: 5%;
}

.col4 {
    text-align: left;
    
    width: 20%;
}

.col5 {
    text-align: left;
    width: 15%;
}

.col6 {
    text-align: left;
    width: 12%;
}

.col7 {
    text-align: left;
    width: 10%;
}

.col8 {
    text-align: left;
    width: 10%;
}

.col9 {
    text-align: left;
    width: 100%;
}

.col10 {
    text-align: left;
    width: 0px;
}
.col11 {
    text-align: left;
    width: 0px;
}


/*.col1 {
    text-align: center;
    width: 5%;
}

.col2 {
    text-align: center;
    width: 5%;
}

.col3 {
    text-align: center;
     width: 10%;
}

.col4 {
    text-align: left;
    font-weight:bold;
    width: 10%;
}

.col5 {
    text-align: left;
    width: 15%;
}

.col6 {
    text-align: left;
    width: 15%;
}

.col7 {
    text-align: left;
    width: 10%;
}

.col8 {
    text-align: left;
    width: 10%;
}

.col9 {
    text-align: left;
    width: 10%;
}

.col10 {
    text-align: left;
    width: 0%;
}
.col11 {
    text-align: left;
    width: 0%;
}*/